<a href="https://colab.research.google.com/github/karlaferrvalencia/python-primeros-pasos-data-science/blob/main/Practica_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Imprime la frase "Escuela de Datos de Alura".

In [1]:
print("Escuela de Datos de Alura")

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

In [2]:
print("Nombre: Karla")
print("Apellido: Valencia")

Nombre: Karla
Apellido: Valencia

3 - Imprime tu primer nombre letra por letra.

In [4]:
print("K")
print("A")
print("R")
print("L")
print("A")

K
A
R
L
A

Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

In [6]:
print(29,"Abril", 1997)

29 Abril 1997

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

In [7]:
print("Año actual:", 2025)

Año actual: 2025